body, html {
  margin:  0;
  padding: 0;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:1;
  background:transparent url('wow.jpg') no-repeat 0 0;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.text {
 font-family: "Comic Sans MS", cursive, sans-serif;
 z-index:2;
 position:relative;
 top:    0;
 bottom: 0;
 left:   0;
 right:  0;
}
